<h1>Editing pacient card</h1>

<%= render "form", pacient_card: @pacient_card %>

<br>

<div>
  <%= link_to "Show this pacient card", @pacient_card %> |
  <%= link_to "Back to pacient cards", pacient_cards_path %>
</div>
