<div align="Center">
  <% if user_signed_in? %>
    <div>
      <h1>Welcome <%= current_user.email %></h1>
    </div>
    <br>
    <a class="btn" href="/clinics"><h2>Go to clinics</h2></a>
<!--    <h2><a class="btn" href="/departments">Go to departments</a></h2>-->
<!--    <h2><a class="btn" href="/doctors">Go to doctors</a></h2>-->
<!--    <h2><a class="btn" href="/pacient_cards">Go to pacient_cards</a></h2>-->
<!--    <h2><a class="btn" href="/pacients">Go to pacients</a></h2>-->
<!--    <h2><a class="btn" href="/specials">Go to specials</a></h2>-->
  <% else %>
    <h1>Log in or Sign up please</h1>
  <% end %>
</div>
