<h1>Editing downloader</h1>

<%= render "form", downloader: @downloader %>

<br>

<div>
  <%= link_to "Show this downloader", @downloader %> |
  <%= link_to "Back to downloaders", downloaders_path %>
</div>
